$color-primary: #000400;
$color-secondary: #03438D;
$color-red: #F57375;
$color-gray: #A8B0B9;
$color-gray-2: #EFECE7;
$color-gray-3: #808080;
$color-gray-4: #9B9893;
$color-gray-5: #E4E6EB;
$color-yellow: #EEC32A;
$color-blue: #E2EDFA;
$color-error: #d72c1d;

$color-white: #FFFFFF;
$color-black: #000000;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$mobileS: 320px; // ~320
$mobileM: 375px; // 321~375
$mobileL: 414px; // 376~414
$mobile: 767px; // <768px
$pad: 1023px; // ≥768px
$desktop: 1280px; // ≥1024px