@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html {
  font-family: Noto Sans TC,黑體-繁,Apple LiGothic Medium,PingFang,微軟正黑體,Microsoft JhengHei,WenQuanYi Zen Hei,helvetica,Arial,sans-serif;
  font-size: 16px;
  color: $color-primary;
  font-weight: $light;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: $color-gray-2;
  padding: 0 18px;
  display: flex;
  justify-content: center;
}

.container {
  width: 870px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  
  @include mobile {
    margin-bottom: 90px;
  }
}

main {
  width: 61%; //530

  @include mobile {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
  }
}

aside {
  width: 36%; //310
  margin-left: 15px;

  @include mobile {
    display: none;
  }
}