.edit-userinfo {
  .category {
    display: flex;
    margin-left: 15px;

    & button {
      font-size: 16px;
      font-weight: $regular;
      padding: 8px 25px;
      background-color: $color-white;
      border: 2px solid $color-primary;
      border-radius: 8px 8px 0px 0px;
      cursor: pointer;

      &:hover {
        color: $color-white;
        background-color: $color-primary;
      }
    }
  }

  .active {
    color: $color-white;
    background-color: $color-primary !important;
  }

  .info-wrap {
    border: 2px solid $color-primary;
    background-color: $color-white;
    box-shadow: 0px 3px 0px $color-primary;
    border-radius: 8px;
    padding: 32px 14px;
    display: flex;
    justify-content: center;
  }

  .profile-info,
  .password-info {
    max-width: 325px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    &__photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      &--img {
        width: 105px;
        height: 105px;
        background-color: $color-blue;
        border: 2px solid $color-primary;
        border-radius: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;

        img {
          display: block;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &__name {
      margin-bottom: 20px;
    }

    &__sex {
      width: 100%;

      h3 {
        font-weight: $regular;
        display: block;
        margin-bottom: 10px;
      }

      &--wrap {
        margin-bottom: 30px;
        display: flex;

        & label:nth-child(1) {
          margin-right: 25px;
        }
      }

      .radioMode {
        font-size: 16px;
        font-weight: $regular;
        display: flex;
        align-items: center;
      
        &_wrap {
          position: relative;
        }
      
        & input[type="radio"] {
          display: none;
      
          & + span::before {
            content: '';
            display: flex;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 2px solid $color-primary;
            margin-right: 10px;
          }
      
          &:checked {
            & + span::after {
              content: '';
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 100%;
              background-color: $color-primary;
        
              position: absolute;
              left: 5px;
              top: 5px;
            }
          }
        }
      }
    }

    &__submitBtn {
      width: 100%;
    }
  }

  .password-info {
    
    &__new {
      margin-bottom: 20px;
    }

    &__secondNew {
      margin-bottom: 30px;
    }
  }

  .input-text {
    width: 100%;
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: $regular;
      display: block;
      margin-bottom: 10px;
    }

    input {
      font-size: 16px;
      font-weight: $regular;
      color: $color-primary;
      border: 2px solid $color-primary;
      background-color: $color-white;
      padding: 14px 25px;
    }
  }

  .error {
    line-height: 1.6;
    color: $color-red;
    margin-bottom: 15px;
  }
}