.upload-post {
  .post {
    &__text {
      margin-bottom: 15px;

      h1 {
        font-weight: $regular;
        margin-bottom: 10px;
      }
    
      textarea {
        font-size: 18px;
        font-weight: $regular;
        width: 100%;
        height: 170px;
        color: $color-primary;
        border: 2px solid $color-primary;
        background-color: $color-white;
        padding: 14px 18px;
        resize: none ;
      }
    }

    &__photo {
      margin-bottom: 30px;

      &--btns {
        display: flex;
        margin-bottom: 25px;

        & button:last-child {
          margin-left: 20px;
        }
      }

      &--img {
        width: 100%;
        border: 2px solid $color-primary;
        border-radius: 8px;
        overflow: hidden;

        img {
          height: 200px;
          display: block;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &__sunbmitBtn {
      display: flex;
      justify-content: center;

      button {
        max-width: 325px;
        width: 100%;
      }
    }
  }

  .error {
    line-height: 1.6;
    color: $color-red;
    margin-bottom: 15px;
    text-align: center;
  }
}