.upload-userPost {

  .post {
    &__text {
      margin-bottom: 15px;

      h1 {
        font-weight: $regular;
        margin-bottom: 10px;
      }
    
      textarea {
        font-size: 18px;
        font-weight: $regular;
        width: 100%;
        height: 170px;
        color: $color-primary;
        border: 2px solid $color-primary;
        background-color: $color-white;
        padding: 14px 18px;
        resize: none ;
      }
    }

    &__photo {
      margin-bottom: 30px;

      &--wrap {
        display: flex;
        margin-bottom: 25px;
      }
      
      &--btn {
        font-size: 16px;
        color: $color-white;
        text-align: center;
        padding: 4px 25px;
        cursor: pointer;

        &:first-child {
          background-color: $color-primary;
        }

        &:last-child {
          background-color: $color-gray-4;
          margin-left: 30px;
        }

        label {
          display: inline-block;
          cursor: pointer;
        }
      }

      &--img {
        width: 100%;
        border: 2px solid $color-primary;
        border-radius: 8px;
        overflow: hidden;

        img {
          height: 200px;
          display: block;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &__sunbmitBtn {
      display: flex;
      justify-content: center;

      button {
        max-width: 325px;
        width: 100%;
      }
    }

    input[type="file"] {
      display: none;
    }
  }

  .error {
    line-height: 1.6;
    color: $color-red;
    margin-bottom: 15px;
    text-align: center;
  }
}