.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-gray-2;
  padding: 18px 18px;

  .main {
    width: 870px;
    max-width: 100%;
    min-height: 535px;
    border: 2px solid $color-primary;
    background-color: $color-gray-2;
    box-shadow: -8px 8px 0px #00040029;
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;


    @include mobile {
      padding: 25px;
      justify-content: center;
    }
  }

  .img-aside {
    width: 350px;
    max-width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-right: 25px;

    @include mobile {
      display: none;
    }
  }

  .user-control {
    width: 375px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      font-size: 60px;
      font-weight: $regular;
      font-family: 'Paytone One', sans-serif;
      color: $color-secondary;
      margin-bottom: 15px;

      @include mobile {
        font-size: 55px;
      }
    }

    & h2 {
      font-size: 24px;
      font-weight: $bold;
      margin-bottom: 25px;

      @include mobile {
        font-size: 20px;
      }
    }

    &__img {
      display: none;
      width: 90%;
      margin-bottom: 25px;

      @include mobile {
        display: block;
      }
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;

      & input {
        font-size: 16px;
        color: #9B9893;
        width: 100%;
        height: 50px;
        border: 2px solid $color-primary;
        padding: 16px 24px;
      }

      &-login {
        &--row {
          margin-bottom: 15px;
        }

        & .form-invalid {
          color: $color-error;
          margin-top: 10px;
        }
      }

      &-register {
        &--row {
          margin-bottom: 15px;
        }

        & .form-invalid {
          color: $color-error;
          margin-top: 10px;
        }
      }

      &-btn {
        margin: 15px 0;
      }
    }

    &__switchBtn {
      font-size: 16px;
      cursor: pointer;
    }
  }
}