.comment {
  .user {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__info {
      display: flex;
  
      &-photo {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        border: 2px solid $color-primary;
        margin-right: 15px;

        @include mobile {
          margin-right: 6px;
        }
      }
  
      &-wrap { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-name {
        a {
          line-height: 1.4;
          font-weight: $bold;
  
          &:hover {
            color: $color-secondary;
            text-decoration: underline;
          }
        }
      }

      &-time {
        font-size: 14px;
        font-weight: $regular;
        color: #9B9893;
      }
    }

    &__wrap {
      display: flex;

      &-favorite,
      &-check {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: $bold;
          margin-top: 4px;
        }
      }

      &-favorite {
        margin-right: 35px;

        @include mobile {
          margin-right: 12px;
        }

        & i {
          font-size: 24px;
          color: $color-secondary;
        }
      }

      &-check {

        &--icon {
          width: 24px;
          height: 24px;
          line-height: 18px;
          border: 2px solid $color-primary;
          border-radius: 100%;
          text-align: center;

          & i {
            font-size: 15px;
          }
        }
      }
    }
  }
}