.comment {
  .user {
    margin-bottom: 15px;
    &__content {
      display: flex;
      justify-content: space-between;
    }
    
    &__info {
      max-width: 350px;
      width: 100%;
      margin-right: 10px;
      display: flex;
      flex-direction: column;

      &-time {
        font-size: 14px;
        font-weight: $regular;
        color: #9B9893;
      }

      &-text {
        line-height: 1.4;
        font-weight: $regular;
        margin-top: 10px;

        display: -webkit-box;
        -webkit-line-clamp: 1; //行數
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
      }  
    }

    &__details {
      display: flex;

      &-edit,
      &-check {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: $bold;
          margin-top: 4px;
          text-align: center;
        }
      }

      &-edit {
        margin-right: 35px;

        @include mobile {
          margin-right: 15px;
        }

        & i {
          font-size: 24px;
          color: $color-secondary;

          @include mobile {
            font-size: 20px;
          }
        }
      }

      &-check {
        &--icon {
          width: 24px;
          height: 24px;
          line-height: 18px;
          border: 2px solid $color-primary;
          border-radius: 100%;
          text-align: center;

          @include mobile {
            width: 20px;
            height: 20px;
            line-height: 12px;
          }

          & i {
            font-size: 15px;

            @include mobile {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .editComment {
    h3 {
      color: $color-red;
      margin-bottom: 20px;
      text-align: end;
      cursor: pointer;
    }

    textarea {
      font-size: 18px;
      font-weight: $regular;
      width: 100%;
      height: 200px;
      color: $color-primary;
      border: 2px solid $color-primary;
      background-color: $color-white;
      padding: 14px 18px;
      resize: none ;
    }
  } 
}