.comment {
  .user {
    margin-bottom: 15px;
    &__content {
      display: flex;
      justify-content: space-between;
    }
    
    &__info {
      max-width: 350px;
      width: 100%;
      margin-right: 10px;
      display: flex;
      flex-direction: column;

      &-time {
        font-size: 14px;
        font-weight: $regular;
        color: #9B9893;
      }

      &-text {
        line-height: 1.4;
        font-weight: $regular;
        margin-top: 10px;

        display: -webkit-box;
        -webkit-line-clamp: 1; //行數
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
      }  
    }

    &__details {
      display: flex;

      &-favorite,
      &-check {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        text-align: center;

        span {
          font-weight: $bold;
          margin-top: 4px;
        }
      }

      &-favorite {
        margin-right: 35px;

        @include mobile {
          margin-right: 12px;
        }

        & i {
          font-size: 24px;
          color: $color-secondary;
        }
      }

      &-check {

        &--icon {
          width: 24px;
          height: 24px;
          line-height: 18px;
          border: 2px solid $color-primary;
          border-radius: 100%;
          text-align: center;

          & i {
            font-size: 15px;
          }
        }
      }
    }
  }
}