.user-wall {
  .follow {
    position: relative;
    margin-bottom: 20px;
  
    &__content {
      height: 75px;
      border: 2px solid $color-primary;
      background-color: $color-white;
      border-radius: 8px;
      position: relative;
      z-index: 2;
    }
  
    &__bg {
      width: 100%;
      height: 100%;
      border: 2px solid $color-primary;
      background-color: $color-white;
      border-radius: 8px;
      position: absolute;
      left: -6px;
      bottom: -7px;
      z-index: 1;
    }

    &__info {
      overflow: hidden;
      display: flex;

      &--photo {
        width: 80px;
        height: 80px;
      }

      &--wrap {
        width: calc(100% - 40px);
        padding: 15px;
        display: flex;
        justify-content: space-between;

        @include mobile {
          padding: 12px 8px;
        }
      }

      &--user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-size: 18px;
          font-weight: $bold;
        }

        span {
          font-size: 14px;
          font-weight: $regular;
          color: $color-gray-3;
        }

        & span:not(:first-child) {
          margin-left: 10px;
          cursor: pointer;

          @include mobile {
            margin-left: 5px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &--btn {
        width: 95px;
        align-self: center;

        @include mobile {
          width: 85px;
        }

        button {
          height: 35px;
        }
      }
    }
  }

  .followList {
    &-zero {
      text-align: center;
    }

    &__user {
      display: flex;
      align-items: center;

      a {
        font-size: 18px;
        font-weight: $regular;
        &:hover {
          text-decoration: underline;
        }
      }

      &--photo {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 2px solid #000400;
        margin-right: 25px;
        overflow: hidden;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .userPost {
    position: relative;

    &__details {
      display: flex;
      position: absolute;
      top: 15px;
      right: 15px;
  
      &-edit {
        cursor: pointer;
        margin-right: 12px;
  
        i {
          margin-right: 5px;
        }
      }
  
      &-delete {
        cursor: pointer;
  
        &:hover {
          color: $color-red;
        }
      }
    }
  }

  .editPost {
    h3 {
      color: $color-red;
      margin-bottom: 20px;
      text-align: end;
      cursor: pointer;
    }

    textarea {
      font-size: 18px;
      font-weight: $regular;
      width: 100%;
      height: 200px;
      color: $color-primary;
      border: 2px solid $color-primary;
      background-color: $color-white;
      padding: 14px 18px;
      resize: none ;
    }

    button {
      margin-top: 35px;
    }
  }

  
  .filter {
    margin-bottom: 15px;
  }
}